---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/search?Authorization=<PEXELS_API_KEY>&page=1&per_page=1&query=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head><title>404 Not Found</title></head>
        <body bgcolor="white">
        <center><h1>404 Not Found</h1></center>
        <hr><center>nginx/1.14.2</center>
        </body>
        </html>
  recorded_at: Mon, 20 Apr 2020 04:19:46 GMT
- request:
    method: get
    uri: https://api.pexels.com/search?Authorization=<PEXELS_API_KEY>&page=1&per_page=1&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head><title>404 Not Found</title></head>
        <body bgcolor="white">
        <center><h1>404 Not Found</h1></center>
        <hr><center>nginx/1.14.2</center>
        </body>
        </html>
  recorded_at: Mon, 20 Apr 2020 04:23:50 GMT
- request:
    method: get
    uri: https://api.pexels.com/search?Authorization=<PEXELS_API_KEY>&query=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head><title>404 Not Found</title></head>
        <body bgcolor="white">
        <center><h1>404 Not Found</h1></center>
        <hr><center>nginx/1.14.2</center>
        </body>
        </html>
  recorded_at: Mon, 20 Apr 2020 04:26:37 GMT
- request:
    method: get
    uri: https://api.pexels.com/search?query=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head><title>404 Not Found</title></head>
        <body bgcolor="white">
        <center><h1>404 Not Found</h1></center>
        <hr><center>nginx/1.14.2</center>
        </body>
        </html>
  recorded_at: Mon, 20 Apr 2020 04:40:29 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?page=1&per_page=1&query=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19993'
      X-Ratelimit-Reset:
      - '1589872288'
    body:
      encoding: ASCII-8BIT
      string: '{"total_results":93,"page":1,"per_page":1,"photos":[{"id":3184423,"width":4004,"height":6000,"url":"https://www.pexels.com/photo/photo-of-people-holding-each-other-s-hands-3184423/","photographer":"fauxels","photographer_url":"https://www.pexels.com/@fauxels","photographer_id":1281351,"src":{"original":"https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg","large2x":"https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940","large":"https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?auto=compress&cs=tinysrgb&h=650&w=940","medium":"https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?auto=compress&cs=tinysrgb&h=350","small":"https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?auto=compress&cs=tinysrgb&h=130","portrait":"https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800","landscape":"https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200","tiny":"https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?auto=compress&cs=tinysrgb&dpr=1&fit=crop&h=200&w=280"},"liked":false}],"next_page":"https://api.pexels.com/v1/search/?page=2&per_page=1&query=denver%2C+co"}'
  recorded_at: Mon, 20 Apr 2020 04:43:02 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_API_KEY>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19982'
      X-Ratelimit-Reset:
      - '1589872288'
    body:
      encoding: UTF-8
      string: '{"status":500,"error":"Internal Server Error"}'
  recorded_at: Tue, 21 Apr 2020 18:28:34 GMT
recorded_with: VCR 5.1.0
